# 1. Tableau a 1D

In [3]:
# importer les packages
import numpy as np

In [4]:
tabeau_1D = np.array([2, 4, 6, 8, 10])

In [5]:
tabeau_1D

array([ 2,  4,  6,  8, 10])

In [6]:
print(tabeau_1D)

[ 2  4  6  8 10]

In [11]:
tabeau_1D.shape

(5,)

# 2. Tableau 2D

In [7]:
tableau_2D = np.array([[2, 4, 6, 7],
                       [20, 40, 60, 70]
                      ])

In [9]:
tableau_2D

array([[ 2,  4,  6,  7],
       [20, 40, 60, 70]])

In [10]:
print(tableau_2D)

[[ 2  4  6  7]
 [20 40 60 70]]

In [12]:
tableau_2D.shape

(2, 4)

In [19]:
tableau_2D[1][1]

np.int64(40)

In [20]:
tableau_2D[0][2]

np.int64(6)

# 3. Tableau 3D

In [13]:
tableau_3D  = np.array([[
    [2, 8, 12],
    [20, 80, 120],
    [200, 800, 1200],
    [2000, 8000, 12000],
    [20000, 80000, 120000]]])

In [14]:
tableau_3D

array([[[     2,      8,     12],
        [    20,     80,    120],
        [   200,    800,   1200],
        [  2000,   8000,  12000],
        [ 20000,  80000, 120000]]])

In [15]:
print(tableau_3D)

[[[     2      8     12]
  [    20     80    120]
  [   200    800   1200]
  [  2000   8000  12000]
  [ 20000  80000 120000]]]

In [16]:
tableau_3D.shape

(1, 5, 3)

In [26]:
tableau_3D[0][2][1]

np.int64(800)

# Manipulation des donnes

In [34]:
import pandas as pd

In [35]:
etudiants = {
    'nom': "SANGWA",
    'Prenom': "Raphael",
    'Age': 10
}

In [36]:
etudiants

{'nom': 'SANGWA', 'Prenom': 'Raphael', 'Age': 10}

In [37]:
etudiants = {
    'nom': ['SANGWA', 'MBAYO', 'MANGI'],
    'Prenom': ['Raphael','Keren', 'Marsena'],
    'Age': [10 , 15, 12]
}

In [38]:
etudiants

{'nom': ['SANGWA', 'MBAYO', 'MANGI'],
 'Prenom': ['Raphael', 'Keren', 'Marsena'],
 'Age': [10, 15, 12]}

In [39]:
les_etudiants = pd.DataFrame(etudiants)

In [40]:
les_etudiants

      nom   Prenom  Age
0  SANGWA  Raphael   10
1   MBAYO    Keren   15
2   MANGI  Marsena   12

In [41]:
les_etudiants.shape

(3, 3)

In [49]:
les_etudiants.iloc[1:2 , 1:2]

  Prenom
1  Keren